<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asta.component.html" />
    <link
    href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
    rel="stylesheet"
  />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    @if(tipoAsta==="calssica"){
      <p>classica</p>
    }
    @if (tipoAsta==="inversa") {
      <p>inversa</p>
    }
    @if(tipoAsta==="ribasso"){
      <p>ribasso</p>
    }


    <main>
     
    </main>
  </body>
</html>
