html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.background {
    position: fixed; 
    top: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    background-color: white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    padding: 20px; 
}

.background label {
    color: #727272aa;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.classica-BTN, .inversa-BTN {
    border-radius: 20px;
    background-color: #22A2EA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
