<!DOCTYPE html>
<html>
    <head>
            
        <title>sceltaAsta</title> 
        <link rel="stylesheet"  href="scelta-asta.component.scss">
        <link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap">
    </head>
   
    <body>


     <div class="background">
        
        <label>Tipo Asta</label>

        <div class="buttonConteiner">
           
        <button class="classica-BTN" (click)="onClassicaButtonClick()">classica</button>
        <button class="inversa-BTN"(click)="onRibassoButtonClick()">al ribasso</button>
     </div>
    </div>

    </body>
</html>
