html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.background {
    position: fixed; /* Posiziona il popup in modo fisso */
    top: 80px; /* Posiziona il componente 20px dall'alto della pagina */
    left: 50%; /* Allinea orizzontalmente al 50% */
    transform: translateX(-50%); /* Centra orizzontalmente il popup */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
    text-align: center;
    background-color: white; /* Sfondo bianco per l'effetto popup */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi ombra */
    border-radius: 10px; /* Bordi arrotondati */
    padding: 20px; /* Aggiungi padding per spazio interno */
}

.background label {
    color: #727272aa;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spazio tra i bottoni */
}

.classica-BTN, .inversa-BTN {
    border-radius: 20px;
    background-color: #22A2EA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
