<!DOCTYPE html>

<head>
  <title>Titolo</title>
</head>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FSGHBNFWGY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FSGHBNFWGY');
</script>

<h2>Saldo</h2>
<h2>{{ utente?.saldo }}</h2>

<div class="box-container">
  <label for="boxCifra">Inserisci la cifra da aggiungere al saldo</label>
  <input class="boxCifra" id="boxCifra" [(ngModel)]="cifra" />
</div>

<div class="box-container">
  <label for="boxNumeroCarta">Numero Carta</label>
  <input class="boxNumeroCarta" id="boxNumeroCarta" />
</div>

<div class="box-container">
  <label for="boxNomeInt">Nome intestatario</label>
  <input class="boxNomeInt" id="boxNomeInt" />
  <label for="boxCognomeInt">Cognome intestatario </label>
  <input class="boxCognomeInt" id="boxCognomeInt" />
</div>

<div class="row-BTN">
  <button class="aggiungi-BTN" (click)="aggiungiSaldo()">Aggiungi</button>
</div>
