.aggiungi-BTN {
    width: 150px;
    height: 35px; 
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer; 
    margin: 5%;
}


.box-container {
    color: #727272aa; /* Colore del testo delle etichette */
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    align-items: first baseline; /* Allinea l'etichetta a sinistra */
    margin: 5% ;
    width: 400px;

}
.rowBTN{
    margin: 5%;
}


.boxCifra, 
.boxNomeInt, 
.boxCognomeInt {
    width: 150px; 
    height: 25px; 
    border: 2px solid #727272aa;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #ffffff; 
    box-sizing: border-box; 
}

.boxNumeroCarta {
    width: 250px; 
    height: 25px; 
    border: 2px solid #727272aa;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #ffffff; 
    box-sizing: border-box; 
}

.boxCifra label, 
.boxNumeroCarta label, 
.boxNomeInt label, 
.boxCognomeInt label {
    display: block; 
    font-size: 14px;
    color: #727272aa; 
    text-align: left; 
    margin-right: 5px;
}
