
<h2>Saldo </h2>
<h2>{{utente?.saldo}}</h2>
<div class="box-container">
    <label for="boxCifra">Inserisci la cifra da aggiungere al saldo  </label>
    <input class="boxcifra" id="boxcifra">   >

  </div>
  <div class="box-container">
    <label for="boxNumeroCarta">Numero Carta </label>
    <input class="boxNumeroCarta" id="boxNumeroCarta">   >
  </div>
  <div class="box-container">
    <label for="boxNomeInt">Nome</label>
    <input class="boxNomeInt" id="boxNomeInt">   >
    <label for="boxCognomeInt">Cognome </label>
    <input class="boxNumeroCognomeInt" id="boxCognomeInt">   >
  </div>
  <div class="row-BTN">
    <button class="preleva">Aggiungi</button>
    
  </div>
