.confermaElimina {
    width: 150px;
    height: 35px; 
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer; 
    margin: 5%;
}


.box-container {
    color: #727272aa; /* Colore del testo delle etichette */
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    align-items: first baseline; /* Allinea l'etichetta a sinistra */
    margin: 5% ;
    width: 400px;

}
.rowBTN{
    margin: 5%;
}



