.square{
    width: 1400px;
    height: 650px;
    border:2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:20px auto;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 20px; /* Aggiungi padding per evitare che il contenuto tocchi i bordi */
    box-sizing: border-box; /* Includi padding e bordo nel calcolo delle dimensioni */
    display: flex;
    flex-direction: column;

}
.box-container {
    color: #727272aa; /* Colore del testo delle etichette */
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    align-items: first baseline; /* Allinea l'etichetta a sinistra */
    margin-left: 173px;
}

.row {
    display: flex;
    justify-content: space-between; /* Disporre le box orizzontalmente con spazio tra di loro */
    width: 100%; /* Assicurati che occupi tutta la larghezza disponibile */
    max-width: 450px; /* Limita la larghezza massima per evitare che le box diventino troppo larghe */
    max-height: 200px;
    margin-bottom: 10px; /* Spazio tra le righe */
   
}
.boxNome, .boxCognome, .boxDataNascita, .boxPassword, .boxNickname, .boxRegione, .boxIndirizzo {
    width: 250px; 
    height: 25px; /* Dimensioni aumentate per una visualizzazione migliore */
    border: 2px solid #727272aa; /* Corretto il formato del bordo */
    border-radius: 20px; /* Per fare un cerchio; usa px per bordi arrotondati se non vuoi cerchi */
    margin-top: 5px; /* Spazio intorno alla forma */
    background-color: #ffffff; /* Aggiunto colore di sfondo per renderlo visibile */
    box-sizing: border-box; 
    
    
    
 }
 

.boxNome label,
.boxCognome label,
.boxDataNascita label,
.boxPassword label,
.boxNickname label,
.boxRegione label,
.boxIndirizzo label {
    display: block;
    font-size: 14px;
    color: #727272aa; /* Colore del testo delle etichette */
    position: relative;
    text-align: left; 
   

}



.boxNomeMod input,
.boxCognomeMod input,
.boxDataNascitaMod input,
.boxPasswordMod input,
.boxNicknameMod input,
.boxRegioneMod input,
.boxIndirizzoMod input{
   
    width: 250px; 
    height: 25px; /* Dimensioni aumentate per una visualizzazione migliore */
    border: 2px solid #727272aa; /* Corretto il formato del bordo */
    border-radius: 20px; /* Per fare un cerchio; usa px per bordi arrotondati se non vuoi cerchi */
    margin-top: 5px; /* Spazio intorno alla forma */
    background-color: #ffffff; /* Aggiunto colore di sfondo per renderlo visibile */
    box-sizing: border-box; 
    
    
}
.modificaProfilo-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
  position: relative;
    text-align: center;
    color:white;
   
   
}
.eliminaProfilo-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
  position: relative;
    text-align: center;
    color:white;
   
   
}
.modificaPasswordProfilo-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color:white;

    
}
.salvaModProfilo-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color:white;
    left: 65%;
    
}
.row-BTN{
    display: flex;
    justify-content: space-between; /* Disporre le box orizzontalmente con spazio tra di loro */
    width: 100%; /* Assicurati che occupi tutta la larghezza disponibile */
    max-width: 450px; /* Limita la larghezza massima per evitare che le box diventino troppo larghe */
    max-height: 200px;
    margin-top: auto; /* Spinge i bottoni verso il fondo del contenitore */
    position: absolute;
    bottom: 20px; /* Distanza dal bordo inferiore */
    left: 58%; /* Distanza dal bordo sinistro */
}
.links{
    color: #727272aa; /* Colore del testo delle etichette */
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    align-items: first baseline; /* Allinea l'etichetta a sinistra */
    margin-left: 130px;
    margin-top: 110px;

    
}
.link1,.link2,.link3 {
    width: 250px; 
    height: 25px; /* Dimensioni aumentate per una visualizzazione migliore */
    border: 2px solid #727272aa; /* Corretto il formato del bordo */
    border-radius: 20px; /* Per fare un cerchio; usa px per bordi arrotondati se non vuoi cerchi */
    margin-top: 20px; /* Spazio intorno alla forma */
    background-color: #ffffff; /* Aggiunto colore di sfondo per renderlo visibile */
    box-sizing: border-box; 
    
}.links label{
    display: block;
    font-size: 14px;
    color: #727272aa; /* Colore del testo delle etichette */
    position: relative;
    text-align: left; 
}
.link1 input,.link2 input,.link3 input{
    width: 250px; 
    height: 25px; /* Dimensioni aumentate per una visualizzazione migliore */
    border-radius: 20px; 
    border: 2px solid #727272aa; /* formato del bordo *//* Per fare un cerchio; usa px per bordi arrotondati se non vuoi cerchi */
    margin-top: 20px; 
    background-color: #ffffff; 
    box-sizing: border-box; 
    
}
.descrizione{
    color: #727272aa; /* Colore del testo delle etichette */
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    align-items: first baseline; /* Allinea l'etichetta a sinistra */
    margin-top:-160px;
    margin-right: 800px;
}
.boxDescrizione{
    width: 550px; 
    height: 250px; /* Dimensioni aumentate per una visualizzazione migliore */
    border: 2px solid #727272aa; 
    border-radius: 20px; 
    margin-top: 20px; /* Spazio intorno alla forma */
    background-color: #ffffff; 
    box-sizing: border-box; 
}
.descrizione label{
    display: block;
    font-size: 14px;
    color: #727272aa; /* Colore del testo delle etichette */
    position: relative;
    text-align: left; 
}
.foto{
  
    display: flex;
    flex-direction: column; /* Disporre l'etichetta sopra il box */
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-right: 1100px;
    margin-top: -610px;
}
.boxFoto{
    width: 250px; 
    height: 250px; 
    border: 2px solid #727272aa; 
    border-radius: 20px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    margin-top: 20px;
}
.boxFoto-BTN{
    display: flex;
    justify-content: space-between; /* Disporre le box orizzontalmente con spazio tra di loro */
    width: 100%; /* Assicurati che occupi tutta la larghezza disponibile */
    position: absolute;
    margin-left: 600px;
    margin-top: 100px;
   
}
.upload-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color:white;
   
}
input[type="file"]{
    display: none;
}
.labelBTN{
    background-color: #00a2e8;
    color: white;
    padding: 1px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    
}

.boxFoto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }


  
@media (max-width: 768px) {
    .input-group {
        width: 100%;
    }
}