.square{
    width: 95%;
    height: 90%;
    border:2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:20px auto;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;

}

.nomeProdotto,
.tempoRimanente,
.offertaCorrente {
    position: absolute;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid #AAAAAA;
    

}

.nomeProdotto {
    top: 15%;
    left: 75%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.tempoRimanente {
    top: 30%;
    left: 75%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.offertaCorrente {
    top: 45%;
    left: 75%;
    transform: translate(-50%, 0);
    z-index: 3;
   
    
}

.nomeProdotto label,.tempoRimanente label,.offertaCorrente label{
    display: block;
    font-size: 14px;
    color: #727272aa; 
    position: absolute;
    margin-top: -12% ;
    
   
}
.tuaOfferta{
    position: absolute;
    display: block;
    margin: 0px auto;
    width:200px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid #AAAA; 
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}
.tuaOfferta label{
    display: block;
    font-size: 14px;
    color: #727272aa;
    position: relative;
    left: 3%;
    text-align: left;
    margin-top:-12% ;
}
.foto{
    position: absolute;
    margin: 20px auto;
    width:420px;

    height: 390px; 
    border-radius: 20px;
    border: 2px solid #AAAA; 
     top: 40%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 10px;
}
.offerta-BTN{
    width:100px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position:absolute;
    top: 85%;
    left: 47%;
    color:white;
}