body{
    background-color:white ;
}
//box superiore login
.square{
    width: 550px;
    height: 450px;
    border:2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:20px auto;
    text-align: center;
}
//box inferiore login
.square2{
    width: 550px;
    height: 200px;
    border: 2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:10px auto;
}
//logo diviso in sezioni per modificare grandezza singole lettere 
.D{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.ieti{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
.D2{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.eals24{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
//box (cambiati in tipo input) inserie email
.box1{
    width:300px;
    height: 25px;
    border:2px solid #22A2EA;
    border-radius: 20px;
    position:relative;
    margin: auto;
    top: 50px;
    text-align: left;
    color:#AAAA;
}
//box(cambiati in tipo input) dove inserire la password
.box2{
    width:300px;
    height: 25px;
    border:2px solid #22A2EA;
    border-radius: 20px;
    position:relative;
    margin: auto;
    top: 60px;
    text-align: left;
    color:#AAAA;
    left: 50px;    //overflow: hidden;
    //clip: rect(0,0,0,0);
}
//box per accedere ,da capire se usare un pulsante o semplicemnte lincare il box alla pagina succesiva
.boxAccedi{
    width:100px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position:relative;
    text-align: center;
    top: 100px;
    color:white;
    left: 0%;//posiziona il centro del bottone al 50% della larghezza del contenitore .square.
    transform: translateX(-150%);//sposta il bottone verso sinistra della metà della sua larghezza per centrarlo esattamente.
}
.O{
    color: #AAAA;
    position: absolute;
    top:270px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
//da capire se sostituire con "accedi con google " usando il client google o aggioungere icona .
//suggerisco client google se facile da inserire (sarebbe un flexino)
.accediCon{
    color: #AAAA;
    position: absolute;
    top:300px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
.noAcc{
    color: #AAAA;
    position: relative;
    top:20px;
    align-self: center;
    left: 25%;
   
}
.iscriviti{
    color:#22A2EA ;
    position: relative ;
    top:20px;
    align-self: center;
    left: 30%;
   
}
.iscriviti a{
    color: #22A2EA;
    text-decoration: none;
}
//sottolinea quando papssi il cursore su iscriviti 
.iscriviti a:hover{
    text-decoration: underline;
}
/* prova replica sfonto azzurro 
.backAzz{
   width: 5000px; /* Adatta la larghezza in base alle tue esigenze 
   height: 500px; /* Adatta l'altezza in base alle tue esigenze 
   background-color: #007bff; /* Colore azzurro, modifica se necessario 
   border-radius: 0 0 0 0; /* Arrotonda l'angolo superiore sinistro 
   position: absolute;
   bottom: -100px;
  
} 

*/
.O2{
color: #AAAA;
position: relative;
align-self: center;
top: 50px;
left: 10%;
transform: translateX(-50%);
}
.iscrivitiCon{
color: #AAAA;
position: relative;
align-self: center;
top: 80px;
left: 1%;
}