body{
    background-color:white ;
}
//box superiore login
.square{
    width: 550px;
    height: 450px;
    border:2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:0px auto;
    text-align: center;

}
//box inferiore login
.square2{
    width: 550px;
    height: 170px;
    border: 2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:10px auto;
}
//logo diviso in sezioni per modificare grandezza singole lettere 
.D{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.ieti{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
.D2{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.eals24{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
//box (cambiati in tipo input) inserie email
.box1{
    width:300px;
    height: 25px;
    border:2px solid #22A2EA;
    border-radius: 20px;
    position:relative;
    margin: auto;
    top: 50px;
    text-align: left;
    color:#AAAA;
}
//box(cambiati in tipo input) dove inserire la password
.box2{
    width:300px;
    height: 25px;
    border:2px solid #22A2EA;
    border-radius: 20px;
    position:relative;
    margin: auto;
    top: 60px;
    text-align: left;
    color:#AAAA;
    //overflow: hidden;
    //clip: rect(0,0,0,0);
}
//box per accedere ,da capire se usare un pulsante o semplicemnte lincare il box alla pagina succesiva
.boxAccedi{
    width:100px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position:absolute;
    text-align: center;
    top: 250px;
    color:white;
    left: 50%;//posiziona il centro del bottone al 50% della larghezza del contenitore .square.
    transform: translateX(-50%);//sposta il bottone verso sinistra della metà della sua larghezza per centrarlo esattamente.
}
.O{
    color: #AAAA;
    position: absolute;
    top:300px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
//da capire se sostituire con "accedi con google " usando il client google o aggioungere icona .
//suggerisco client google se facile da inserire (sarebbe un flexino)
.accediCon{
    color: #AAAA;
    position: absolute;
    top:340px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
.noAcc{
    color: #AAAA;
    position: absolute;
    top:550px;
    align-self: center;
    left: 45%;
    transform: translateX(-50%);
}
.iscriviti{
    color:#22A2EA ;
    position: absolute;
    top:550px;
    align-self: center;
    left: 55%;
    transform: translateX(-50%);
}
.iscriviti a{
    color: #22A2EA;
    text-decoration: none;
}
.iscriviti a:hover{
    text-decoration: underline;
}
.O2{

}