<!DOCTYPE html>
<html>
    <head>
        <title>login</title> 
        <link rel="stylesheet"  href="log-in-page.component.scss">
        <link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap">
    </head>
    <body>
        <div class="square">
            <span class="D">D</span>
            <span class="ieti">ieti</span>
            <span class="D2">D</span>
            <span class="eals24">eals24</span>
            <div class="box1">email/nickname</div>
            <div class="box2">password</div>
            <div class="boxAccedi">accedi</div>

        </div>
     
        <div class="square2"></div>
    </body>
</html>

