.aggiungi-BTN,.preleva-BTN{
    width:150px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color:white;
   
}
.saldo-view {
    font-size: 16px; 
    color: green;    
}
body{
    height: 200px;
    width: 300px;
}