<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <main>
      <div class="card-container">
        @for (asta of aste; track asta) {
        <div class="card-item">
          <div class="card-image">
            <img
              [src]="asta.url"
              alt="Immagine di {{ asta.nomeBeneInVendita }}"
            />
          </div>
          <div class="card-content">
            <h2 class="card-title">{{ asta.titolo }}</h2>
            <h3 class="card-subtitle">{{ asta.nomeBeneInVendita }}</h3>
            <div class="card-info">
              <p><strong>Categoria:</strong> {{ asta.categoria }}</p>
              <p><strong>Tipo:</strong> {{ asta.tipoBeneInVendita }}</p>
              <p>
                <strong>Data di Fine Asta:</strong>
                {{ asta.dataFineAsta | date }}
              </p>
              <p><strong>Creata da:</strong> {{ asta.UtenteNickname }}</p>
              <p class="danger">
                <strong>Offerta corrente: {{ asta.offertaMax }}€</strong>
              </p>
              <p class="danger">
                <strong>Tempo restante: {{ getFormattedTime(asta) }}</strong>
              </p>
            </div>
          </div>
        </div>
        }
      </div>
      @if (temp == "test"){
        <h1>funziona</h1>
      }
    </main>
  
  </body>
</html>
