<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <main>
     
     
      <div class="search-container">
        <input
            class="boxSearch"
            type="text"
            placeholder="Search auctions..."
            (input)="filterResults($event)"
            aria-label="Number"
            matInput
        />
        <input
            class="boxCategoria"
            type="text"
            placeholder="Categoria"
            aria-label="Number"
            matInput
            [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
        </mat-autocomplete>
    </div>
     
      

      <div class="card-container">

        @for (asta of asteFiltrate; track asteFiltrate) {
          <mat-card 
            (click)="navigateToviewAsta(asta)" 
            class="card"
            *ngIf="asta">
            <div class="card-item">
              <div class="card-image">
                <img
                  [src]="asta?.url || 'placeholder.jpg'"
                  alt="Immagine di {{ asta?.nomeBeneInVendita || 'N/A' }}"
                />
              </div>
              <div class="card-content">
                <h2 class="card-title">{{ asta?.titolo || 'Titolo non disponibile' }}</h2>
                <h3 class="card-subtitle">{{ asta?.nomeBeneInVendita || 'Nome non disponibile' }}</h3>
                <div class="card-info">
                  <p><strong>Categoria:</strong> {{ asta?.categoria || 'N/A' }}</p>
                  <p><strong>Tipo:</strong> {{ asta?.tipoBeneInVendita || 'N/A' }}</p>
                  <p>
                    <strong>Data di Fine Asta:</strong>
                    {{ asta?.dataFineAsta ? (asta.dataFineAsta | date) : 'N/A' }}
                  </p>
                  <p><strong>Creata da:</strong> {{ asta?.UtenteNickname || 'N/A' }}</p>
                  <p class="danger">
                    <strong>Offerta corrente: {{ asta?.offertaMax || 0 }}€</strong>
                  </p>
                  <p class="danger">
                    <strong>Tempo restante: {{ getFormattedTime(asta) }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </mat-card>
        }
      </div>
    </main>
  </body>
</html>
