<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="registrationpage.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="square">
      <div class="logo">
        <span class="D">D</span>
        <span class="ieti">ieti</span>
        <span class="D2">D</span>
        <span class="eals24">eals24</span>
      </div>

      <form (ngSubmit)="register()">
        <div class="boxEmail">
          <label>Email</label>
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="boxNome">
          <label>Nome</label>
          <input
            type="text"
            placeholder="Nome"
            [(ngModel)]="nome"
            name="nome"
            required
          />
        </div>
        <div class="boxCognome">
          <label>Cognome</label>
          <input
            type="text"
            placeholder="Cognome"
            [(ngModel)]="cognome"
            name="cognome"
            required
          />
        </div>
        <div class="boxPassword">
          <label>Password</label>
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div class="boxNickname">
          <label>Nickname</label>
          <input
            type="text"
            placeholder="Nickname"
            [(ngModel)]="nickname"
            name="nickname"
            required
          />
        </div>
        <div class="boxTipoAccount">
          <label>Tipo Account</label>
          <input
            matInput
            type="text"
            [matAutocomplete]="auto"
            placeholder="Tipologia"
            [(ngModel)]="tipo"
            name="tipo"
            required
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="boxRegione">
          <label>Regione</label>
          <input
            type="text"
            placeholder="Regione"
            [(ngModel)]="regione"
            name="regione"
            required
          />
        </div>
        <div class="boxIndirizzo">
          <label>Indirizzo</label>
          <input
            type="text"
            placeholder="Indirizzo"
            [(ngModel)]="indirizzo"
            name="indirizzo"
            required
          />
        </div>
        <button mat-raised-button type="submit" class="iscrivitiButton" [routerLink]="['/ ']">
          Iscriviti
        </button>
      </form>
    </div>
  </body>
</html>
