body{
    background-color: white;
}
.square{
    width: 600px;
    height: 720px;
    border:2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin:20px auto;
    text-align: center;
    position: relative;
 
  
}
.logo{
    position: relative;
    left: 0%;
}
.D{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.ieti{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
.D2{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 75px;
    position:relative;
    top: 20px;
}
.eals24{
    color: #22A2EA;
    font-family:"Metamorphos";
    font-size: 65px;
    position:relative;
    top: 20px;
}
.boxEmail, .boxNome, .boxCognome, .boxDataNascita, .boxPassword, .boxNickname, .boxTipoAccount, .boxRegione, .boxIndirizzo {

    flex-direction: row;
    align-items: center; 
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
}

.boxEmail input, 
.boxNome input,
.boxCognome input,
.boxDataNascita input,
.boxPassword input,
.boxNickname input,
.boxTipoAccount input,
.boxRegione input,
.boxIndirizzo input{
    width:300px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid #22A2EA;
    color: #AAAA;
    margin: -2px;
    align-items: center; 
   
}
.boxEmail label, 
.boxNome label,
.boxCognome label,
.boxDataNascita label,
.boxPassword label,
.boxNickname label,
.boxTipoAccount label,
.boxRegione label,
.boxIndirizzo label {
    display: block;
    font-size: 14px;
    color: #727272aa;
    position: relative;
    left: 19%;
    text-align: left;


}

.iscrivitiButton{
    width:100px;
    height: 25px;
    background-color: #22A2EA;
    border-radius: 20px;
    position:relative;
    text-align: center;
    bottom: 10px;
    margin-left: 80%;
    color:white;
}
.boxEmail, .boxNome, .boxCognome, .boxDataNascita, .boxPassword, .boxNickname, .boxTipoAccount, .boxRegione, .boxIndirizzo {

    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
}
