<!DOCTYPE html>
<head>
  <title>mod-pass</title>
</head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSGHBNFWGY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-FSGHBNFWGY');
  </script>

<body>
  <h2>Modifica Password</h2>

  <div class="box-container">
    <label for="boxNuovaPass">Inserisci la nuova password</label>
    <input
      class="boxNuovaPass"
      id="boxNuovaPass"
      [(ngModel)]="password"
      type="password"
    />
  </div>

  <div class="row-BTN">
    <button class="confermaPass-BTN" (click)="modificaPassword()">
      Conferma password
    </button>
  </div>
</body>
