<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="./visulizza-profilo.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <div class="square">
        <div class="row1">
            <div class="photoProfileContainer"#photoPreview>
               
             
                <img
                [src]="'http://localhost:3000/images/' + utente?.url" alt="Foto profilo" 
                alt="Foto profilo"
                class="auction-image"
            
              />
            
    
           
            </div>
            <label class="nome">{{utente?.nome}}</label>
            <label class="link">{{utente?.link1}}</label>
        </div>

        <div class="row2">
          <p class="descrizione">{{utente?.descrizione}}</p>
        </div>
        
        <div class="row3">
            <button class="asteAttive-BTN">Aste Attive</button>
              
        </div>
    </div> 
    <script>
    </script>
  </body>
</html>