<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="./auction-view.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    @if(tipoAsta==="Classica"){
    <div class="square">
      <div class="row1">
        <div class="photoProfileContainer"(click)="visualProfile()">
          <img
            [src]="utenteAsta?.url || 'assets/placeholder.jpg'"
            alt="Foto profilo"
            class="auction-image"
        
          />
        </div>
      </div>
      <div class="row2">
        <div class="photoAuctionContainer">
          <img [src]="asta?.url" alt="Auction Image" class="auction-image" />
        </div>
        <div class="box-container">
          <label for="boxOffer">Fai la tua offerta</label>
          <input
            class="boxOffer"
            id="boxOffer"
            type="number"
            [(ngModel)]="newOfferta"
          />

          <button class="offerButton" (click)="makeOffer()">Offri</button>
          
       
        </div>
        <div class="description-section">
          <label for="descrizione">Descrizione</label>
          <div class="description" id="description">
            {{ asta?.descrizioneAsta }}
          </div>
        </div>
        
      </div>
      <div class="row3">
        <label for="productName">Nome del prodotto:</label>
        <div class="productName" id="productName">
          {{ asta?.nomeBeneInVendita }}
        </div>

 <label for="prezzoIniz">Offerta attuale:</label>
        <div class="prezzoIniz" id="prezzo">{{ asta?.offertaMax }}</div>
        <label for="timeLeft">Tempo rimasto:</label>
        <div class="timeLeft" id="timeLeft">{{ getFormattedTime() }}</div>

        <label for="currentOffer">Offerta attuale:</label>
        <div class="currentOffer" id="currentOffer">{{ asta?.offertaMax }}</div>
      </div>
    
    </div>
    }
    @if(tipoAsta=="Al Ribasso"){
        <div class="square">
          <div class="row1">
            <div class="photoProfileContainer">
              <img
              [src]="utenteAsta?.url || 'assets/placeholder.jpg'"
              alt="Foto profilo"
              class="auction-image"
          
            />
            </div>
          </div>
          <div class="row2">
            <div class="photoAuctionContainer">
              <img [src]="asta?.url" alt="Auction Image" class="auction-image" />
            </div>
            <div class="box-container">
             
    
              <button class="offerButton">Compra ora</button>
              
           
            </div>
            <div class="description-section">
              <label for="descrizione">Descrizione</label>
              <div class="description" id="description">
                {{ asta?.descrizioneAsta }}
              </div>
            </div>
            
          </div>
          <div class="row3">
            <label for="productName">Nome del prodotto</label>
            <div class="productName" id="productName">
              {{ asta?.nomeBeneInVendita }}
            </div>
    
            <label for="timeLeft">Tempo rimasto</label>
            <div class="timeLeft" id="timeLeft">{{ getFormattedTime() }}</div>
    
            <label for="prezzoC">Prezzo corrente</label>
            <div class="prezzoC" id="Prezzo">{{ asta?.prezzoiniziale }}</div>
            <label for="decremento">Decremento</label>
            <div class="decremento" id="Decremento">{{ asta?.offertaMax }}</div>
          </div>
          
        
        </div>
    }
    @if(tipoAsta=="Inversa"){
      <p>fdsf</p>
    }
    <script></script>
  </body>
</html>