.square {
    width: 95%;
    height: 95%;
    border: 2px solid ie-hex-str($color: #AAAA);
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    box-sizing: border-box; 
    width: 30%; 
}

.row1 {

    padding: 10% 5% ; 
    max-height: 150%; 
    position: relative;
    display: flex;
    justify-content: flex-start;
    bottom: 18%;
    
}

.row2 {
    
    padding: 1% 1% 1%;
    height: 100%; 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.row3 {
   
    padding: 2% 1%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 30%; 
    box-sizing: border-box;
    margin-bottom: 14%;
}

.productName, .timeLeft, .currentOffer,.prezzoC,.decremento {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: flex-start; 
    width: 50%; 
    height: 5%; 
    min-height: 30px;
    border: 2px solid #727272aa;
    border-radius: 20px;
    margin-bottom: 15%; 
    
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    

}

.productName label, .timeLeft label, .currentOffer label , .prezzoC label ,.decremento label {
    display: flex;
    font-size: 14px;
    color: #727272aa;
    text-align: left;
    margin-bottom: 5px; 
    
}
.photoAuctionContainer{
    position: relative;
    width: 100%; 
    height: 600px; 
    border: 2px solid #AAAA; 
    border-radius: 5px;
    margin-bottom: 2%;
    overflow: hidden; 
    box-sizing: border-box;
}
   

.boxOffer{
    color: #727272aa;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 2px solid #AAAA;
    border-radius: 20px;
    width: 100%;
    height: 40%;
    margin-bottom: 10%; 
   
}
.boxOffer label{
    display: block;
    font-size: 14px;
    color: #727272aa; 
    position: relative;
    text-align: left;
    margin-top: 5%; 
}
.offerButton{
    width:100%;
    height: 50%;
    background-color: #22A2EA;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 2%;

}
.photoProfileContainer{
    position: relative;
    width: 100px; 
    height: 90px; 
    min-height: 80px; 
    max-height: 120px; 
    border: 2px solid ie-hex-str($color: #AAAA);
    border-radius: 5px;
    box-sizing: border-box;
    left: 80%; 
    margin-bottom: 310px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auction-image {
width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
.description-section {
    width: 90vw;
    height: 20%;
    margin-left: 0; 
    margin-top: 3rem; 
    padding-left: 3rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding-bottom: 3rem; 
    background-color: transparent;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    min-height: 30px;
    border-radius: 20px;
    background-color: transparent; 
    box-sizing: border-box;
    padding: 10px; 
    text-align: left;
    margin-top: 1%;
    margin-bottom: 2rem; 
}

.description label {
    font-size: 14px;
    color: #000000aa;
    margin-bottom: 5px;
    text-align: left;
}

.photoProfileContainer img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    border-radius: 5px; 
}
  
  .auction-image {
    width: 100%; 
        height: 100%; 
        object-fit: cover; 
        display: block; 
    }