<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="profile.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    


      <div class="square">
        <div class="row">
          <div class="box-container">
            <label for="boxNome">Nome</label>
            <div class="boxNome" id="boxNome">{{ utente?.nome }}</div>
          </div>
          <div class="box-container">
            <label for="boxCognome">Cognome</label>
            <div class="boxCognome" id="boxCognome">{{ utente?.cognome }}</div>
          </div>
        </div>
        <div class="row">
          <div class="box-container">
            <label for="boxNickname">Nickname</label>
            <div class="boxNickname" id="boxNickname">{{ utente?.nickname }}</div>
          </div>
        </div>
        <div class="row">
          <div class="box-container">
            <label for="boxRegione">Regione</label>
            <div class="boxRegione" id="boxRegione">{{ utente?.regione }}</div>
          </div>
          <div class="box-container">
            <label for="boxIndirizzo">Indirizzo</label>
            <div class="boxIndirizzo" id="boxIndirizzo">{{ utente?.indirizzo }}</div>
          </div>
          
        </div>
        <div class="row-BTN">
          <button class="modificaProfilo-BTN" (click)="modificaProfilo()">modifica profilo</button>
          <button class="eliminaProfilo-BTN"(click)="openDialogElimina()">elimina profilo</button>
          <button class="modificaPasswordProfilo-BTN" (click)="openDialogPass()">modifica password</button>
          <button class="saldo-BTN"(click)="openDialogSaldo()">saldo</button>
        </div>
        <div class="links">
          <label for="links">I tuoi link</label>
          <div class="link1" placeholder="link1">{{ utente?.link1 }}</div>
          <div class="link2" placeholder="link2">{{utente?.link2}}</div>
          <div class="link3" placeholder="link3">{{utente?.link3}}</div>
        </div>
        <div class="descrizione">
          <label for="descrizione">La tua descrizione</label>
          <div class="boxDescrizione"></div>
        </div>
        <div class="foto">
          <div class="boxFoto" #photoPreview >
            <img
            [src]="utente?.url || 'assets/placeholder.jpg'"
            alt="Foto profilo"
            class="auction-image"
        
          />
        </div>
        </div>
     
         
        
        </div>
      
   
  

   

    <script>
      // Your JavaScript here
    </script>
  </body>
</html>