.logoDieti {
    font-family: "Metamorphous", serif;
    font-size: 38px;
    font-style: normal;
  }
  .D,.D2{
    font-size: 50px;

  }
 
  .boxSearch{
    width: 350px;
    height: 25px;
    position:relative;
    border-radius: 20px;
    text-align: left;
    position: relative;
    margin-left: 100%;
  }
  .boxCategoria{
    width: 100px;
    height: 25px;
    position:relative;
    border-radius: 20px;
    text-align: left;
    position: relative;
    margin-left: 380px;
  }
  