

.logoDieti {
    font-family: "Metamorphous", serif;
    font-size: 38px;
    font-style: normal;
    cursor: pointer;
    display: flex;             
    align-items: center;
    margin-left: 20px; /* Aggiunge un margine a sinistra */
}

.mat-toolbar-row {
    display: flex;
    justify-content: space-between; /* Spazio tra logo e icone */
    align-items: center; /* Centra verticalmente */
}
  .D,.D2{
    font-size: 50px;

  }
 
  
  .icone {
    display: flex;
    justify-content: center; /* Centra le icone orizzontalmente */
    align-items: center;     /* Centra le icone verticalmente */
    width: 50px;
    height: 50px;
    margin: 0;               /* Rimuovi tutti i margini */
    padding-right: 50%;              /* Rimuovi tutti i padding */
    gap: 60px;               /* Distanza tra le icone */
}


.auctionIcon, .dashboardIcon, .asteIcon, .userIcon, .changeProfile {
    background-color: #22A2EA;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    fill: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auctionIcon label, .dashboardIcon label, .asteIcon label, .userIcon label, .changeProfile label {
    color: white;
    font-size: 12px;
    margin-top: 4px; /* Spaziatura tra icona e testo */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Regola il contenitore per adattarsi a varie risoluzioni */
@media (max-width: 768px) {
    .icone {
        gap: 30px; /* Riduce il gap su schermi più piccoli */
    }
}

@media (max-width: 480px) {
    .icone {
        flex-direction: column; /* Dispone le icone in colonna su schermi molto piccoli */
        gap: 20px;              /* Ulteriore riduzione del gap */
    }
}