<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="./dashboard.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <div class="square">
        <div class="row1">

        </div>
        <div class="row2">
         
          </div>
        
         <div class="row3">
           
         </div>
    </div> 

    <script>
    </script>
  </body>
</html>