<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="./dashboard.component.scss" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <div class="row1">
      <div class="label-wrapper">
        <label class="boxProdottiVendutiLabel">Prodotti Venduti</label>
        <div class="boxProdottiVenduti">
          {{ numberSold }}
        </div>
      </div>
      <div class="label-wrapper">
        <label class="boxTotaleVenditeLabel">Totale Vendite</label>
        <div class="boxTotaleVendite">{{ salesValue }}$</div>
      </div>
    </div>
    <div class="row2">
      <div class="square">
        <h2>Aste Recenti</h2>
        <table>
          <thead>
            <tr>
              <th>Prodotto</th>
              <th>Status</th>
              <th>Ultima Offerta</th>
              <th>Tempo Rimanente</th>
            </tr>
          </thead>
          <tbody id="auctionTableBody">
            @for (dash of dashboardData; track dashboardData) {
            <tr>
              <td class="nomeProdotto">{{ dash?.titolo }}</td>
              <td class="status {{ dash?.statusAsta }}">
                {{ dash?.statusAsta }}
              </td>
              <td class="ultimaOfferta">{{ dash?.offertaMax }}</td>
              <td class="tempoRimanente">{{ getFormattedTime(dash) }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="row3"></div>

    <script></script>
  </body>
</html>
